<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your .shrek Image</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Your .shrek Image</h1>
        <div class="image-container">
            <img src="<%= shrekFileUrl %>" alt="SHREK Image" />
        </div>
        <a class="btn" href="/download?file=<%= shrekFileUrl %>" download>Download .shrek File</a>
        <a class="btn" href="/">Upload Another Image</a>
    </div>
</body>
</html>
